---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import dursiaLogo from "../../src/images/dursialogo.png";
import Button from "../components/Button.astro";
---

<MainLayout title="DURSIA">
  <main class="min-h-screen container mx-auto p-6 flex flex-col md:flex-row items-center justify-center gap-10 md:text-sky-700">
    <!-- Venstre side -->
    <div class="flex justify-center items-center">
      <Button href="demo">Demo</Button>
    </div>

    <!-- Midte: logo + kontakt -->
    <div class="flex flex-col items-center gap-8">
      <Image class="w-full max-w-[500px] p-10" src={dursiaLogo} alt="dursia logo" />

      <Button href="mailto:bennimja@yahoo.com?subject=DURSIA request"> Contact </Button>
    </div>

    <!-- Højre side -->
    <div class="flex justify-center items-center">
      <Button href="features">Features</Button>
    </div>
  </main>
  <br />
  <br />
</MainLayout>
